.productos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
}

div.producto {
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}


div.producto:hover {
    background-color: #EBDFE3;
}
#carrito {
    list-style-type: none;
    padding: 0;
}

#carrito li {
    display: flex;
    margin-bottom: 10px;
}

#total {
    font-weight: bold;
}

aside {
    padding: 20px;
}
.agregar-carrito {
    background-color: #640b0b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.car {
    position: fixed;
    top: 78px;
    left: 25px;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 55px 55px 5px;    
}
.descripcion{
    margin: 10px;
    text-align: center;
    font-size: 16px;   
}
hr{
    margin: 20px;
}