* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 80px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.productos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
    margin: 5px;
}

.sub-title {
    font-family: Libre Baskerville, serif;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

div.polaroid {
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

div.polaroid:hover {
    background-color: #EBDFE3;
}


.boton {
    width: 130px;
    font-size: 20px;
    padding: 12px 12px;
    border-radius: 12px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #940253;
    background-color: #ffe0ea;
    transition-duration: 0.4s;
    align-items: center;
    margin-left: 46%;
    text-decoration: none;
    margin-top: 70px;
}

.boton:hover {
    background-color: #f9f9f9;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.poster {
    width: 95%;
    box-shadow: 0 4px 8px 0 #940253(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #fde8ef;
}

.poster-img {
    width: 65%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-right: 40px;
    font-size: 20px;
}

.carrusel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text-carru {

    text-align: center;
    padding: 20px;
}

.text {
    font-size: 24px;



    transform: translate(-50%, -50%);
}

.foto {
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url("/img/aretes.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    margin: 30px 0px 50px 0px;
    height: 500px
}

.habilidades .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.habilidades .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 40px;
}

.habilidades .contenido-seccion .fila {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.habilidades .contenido-seccion .fila .col {
    width: 55%;
    text-align: left;
}

.frase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase::before {
    content: "";
    flex: 1 0 0%;
    height: 1px;
    border-top: 1px solid
}

.frase h3 {
    flex: 0 0 auto;
    width: auto;
    z-index: 2;
    font-size: 25px;
}

.frase::after {
    content: "";
    flex: 1 0 0%;
    height: 1px;
    border-top: 1px solid
}

.sub-frase {
    width: auto;
    max-width: 100%;
    padding: 0 15px;
    position: relative;
    font-size: 18px;
  
    justify-content: center;
    align-items: center;
}
.contenedor {
    max-width: 1200px;
    padding: 1px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    max-width: 300px;
    margin: 8px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor .contenedor-items .item .img-item {
    width: 100%;
    height: 290px;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.imagen{
    margin-bottom: 40px;
}
