body {
    margin: 0;
    padding: 0;
}

.input {
    position: fixed !important; 
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: #EBDFE3;
    justify-content: space-around;
    text-decoration: none;
}

.value {
    
    background-color: transparent;
    border: none;
    padding: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
    font-size: 17px;
    align-items: center;
}

.value:not(:active):hover,
.value:focus {
    background-color: #d8a4b6;
}

.value:focus,
.value:active {
    background-color: #d8a4b6;
    outline: none;
}

.value::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 0px;
    width: 100%;
    height: 3px;
    background-color: #be3666;
    border-radius: 5px;
    opacity: 0;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

.value svg {
    width: 17px;
}

.logo {
    margin-top: 10px;
    border-radius: 50%;
    width: 108px;
    height: 108px;
    background-color: #fde8ef;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}

