.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0px 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
    margin: 0px;
}
.sobremi .contenido-seccion .especial{
    color: #940253;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .fila .col{
    width: 30%;
}
.sobremi .contenido-seccion .fila .col i{
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}