.productos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
}
.container{
    text-decoration: none;
}

div.polaroid {
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}


div.polaroid:hover {
    background-color: #EBDFE3;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 40px 5px;    
    margin-top: 40px;
}

.descripcion{
    margin: 5px;
    text-align: center;
    font-size: 16px;   
}
hr{
    margin: 20px;
}